/*Basics */

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-Regular.ttf);
}

body {
    margin: 0;
    font-size: 1rem;
}

img {
    width: 100%;
}

a {
    color: white;
}

button{
    cursor: pointer;
}



/* FLEX HELPERS */

.flex {
    display: flex;
}

.flex.align-item-center {
    align-items: center;
}


.flex.space-between {
    justify-content: space-between;
}

/*HELPERS */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.capitalize {
    text-transform: capitalize;
}

a:link {
    text-decoration: none;
}

.hide {
    visibility: hidden;
    display: none;
}

.main-container {
    max-width: 1600px;
}
.bcg-grey{
    display: flex;
    background-color: #E3E3E3;
    justify-content: space-around;
}


/* GRID */

.gallery-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 5px;
    background-color: #E3E3E3;
    padding: 20px;

}

.grid-item {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.search-container {
    border-bottom: 2px solid black;
    width: 260px;
    margin-bottom: 10px;

}

.search-container input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}


/* COMPONENTS */
.header-container {
    font-family: Montserrat;
    color: #FFFFFF;
    width: 100%;
    background-color: #FF7F00;
    height: 100%;


}


.header-logo {
    justify-self: flex-start;
    margin-inline-start: 20px;
}


.navbar-conntainer a {
    padding: 11px;
    height: 70px;
    border-left: 2px solid #8A8A8A;

}


.navbar-conntainer a:hover {
    color: rgb(3, 3, 3);
    box-shadow: 0px -10px 0px -1px rgb(0, 0, 0) inset;
    -webkit-box-shadow: 0px -10px 0px -1px rgb(0, 0, 0) inset;
    -moz-box-shadow: 0px -10px 0px -1px rgb(0, 0, 0) inset;
}

.search-container {
    height: 80px;
    margin-inline-start: 20px;

}

.search-container input[type=text] {
    padding: 10px;
    font-size: 14px;
    width: 200px;
}

.search-container button {
    float: left;
    padding: 10px;
    background: white;
    color: black;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container input[type=text]::-webkit-input-placeholder {
    font-size: 14px;
    font-family: Montserrat;
    line-height: 3;
}

.search-container button:hover {

    background: #f0e3d6;
    ;

}

.editor-form {
    background-color: #E3E3E3;
}

.canvas-container {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    max-height: 600;
    width: 100%;
    background-color: #E3E3E3;

}

.display {
    display: flex;
    flex-direction: column;
    background-color: #E3E3E3;
    flex-wrap: wrap;
}



.editor-btn {
    border: none;
    border-radius: 14px;
    padding: 10px;
    margin: 10px;
}

.display input[type=text] {
    align-self: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 24px;
    box-sizing: border-box;

}

.display input[type=text]::-webkit-input-placeholder {
    font-size: 14px;
    font-family: Montserrat;
    line-height: 3;
    text-align: center;
}

.canvas {
    margin: 20px;
    border: 4px solid black;
    cursor: crosshair;

}

.editor-btn {
    width: 60px;
    height: 60px;
}

.about-container {
    justify-content: center;
    margin: 50px;

}

.about-img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin-right: 40px;
}

.about-txt {
    margin-left: 20px;
    font-family: Montserrat;

}

.about-txt :first-child {
    font-weight: bold;
}

.link-img {
    height: 30px;
    width: 30px;

}

.social-link {
    background-color: #FF7F00;
    border-radius: 12px;
    border: none;
    padding: 5px 7px;
}

.footer-container {
    height: 170px;
    background-color: #FF7F00;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    color: white;
}

.footer-logo {
    font-size: 1.375rem;
    font-weight: bold;
}

.menu-btn {
    display: none;
}

.x-btn {
    visibility: hidden;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -4px 0px 15px 0px #dcdcdc;
    transition: background-color 0.5s, color 0.5s;
}

.x-btn:hover {
    box-shadow: -4px 0px 15px 0px #dcdcdc;
    background-color: #FF7F00;
    color: white;
}


@media (max-width: 640px) {
    .main-container {
        max-width: 580px;

    }

    .canvas {
        max-width: 150px;
    }

    .editor-form {
        max-width: 200px;
    }

    .display input[type=text] {
        align-self: center;
        max-width: 100px;
        padding: 6px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 24px;
        box-sizing: border-box;

    }

    .navbar-conntainer {
        position: fixed;
        flex-direction: column;
        height: 100vh;
        right: 0;
        top: 0;
        background-color: rgb(255 255 255/90%);
        box-shadow: none;
        transform: translateX(100%);
        transition: transform 0.8s, box-shadow 0.8s;
    }


    body.menu-open .navbar-conntainer {
        transform: translateX(0);
        box-shadow: -4px 0px 15px 0px #dcdcdc;
    }

    .navbar-conntainer a {
        display: flex;
        top: 20px;
        width: 120px;
        flex-direction: column;
        color: #0e0c0c;
        border-bottom: 1px solid rgb(204, 199, 199);
        border-right: none;
        padding: 12px 10px;
        transition: background-color 0.5s, color 0.5s;
    }

    .navbar-conntainer .x-btn:hover,
    .navbar-conntainer a:hover {
        box-shadow: -4px 0px 15px 0px #dcdcdc;
        background-color: #FF7F00;
        color: white;
    }


    .menu-btn {
        display: flex;
        justify-content: flex-end;
        background-color: transparent;
        font-size: 2rem;
        border: none;
        color: #ffffff;
        cursor: pointer;
    }

    .x-btn {
        visibility: visible;

    }

    .about-container{
        max-width: 580px;
        flex-direction: column;
        align-items: center;
    }

    .displaybtn{
        max-width: 300px;
        
    }

    .editor-btn {
        width: 30px;
        height: 30px;
        
    }

    .about-img {
        width: 50%;
        height: 150px;
        border-radius: 50%;
        margin-right: 40px;
    }
    
    

    .link-img {
        height: 15px;
        width: 15px;
    
    }
    .displaybtn{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main-screen {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(0 0 0 / 30%);
        cursor: pointer;
      }
    
      body.menu-open .main-screen {
        opacity: 1;
        visibility: visible;
      }

      .gallery-container {

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(165px, 1fr);
        grid-gap: 5px;
        background-color: #E3E3E3;
        padding: 20px;
    
    }

    .about-txt p, h3{
     text-align: center;
        
    }

   .social-container{
       display: flex;
        justify-content: center;
    }
    
    
    

   
  

    
    
    
}