/*Basics */

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-Regular.ttf);
}

body {
    margin: 0;
    font-size: 1rem;
}

img {
    width: 100%;
}

a {
    color: white;
}



/* FLEX HELPERS */

.flex {
    display: flex;
}

.flex.align-item-center {
    align-items: center;
}


.flex.space-between {
    justify-content: space-between;
}

/*HELPERS */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.capitalize {
    text-transform: capitalize;
}

a:link {
    text-decoration: none;
}

.hide{
    visibility: hidden;
    display: none;
}


/* GRID */

.gallery-container {
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 5px;
}

.grid-item {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.search-container {
    border-bottom: 1px solid black;
    width: 260px;
}

.search-container input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}


/* COMPONENTS */
.header-container {
    font-family: Montserrat;
    color: #FFFFFF;
    width: 100%;
    background-color: #FF7F00;
    height: 100%;

}

.header-logo {
    justify-self: flex-start;
}

.navbar-conntainer {
    margin-inline-end: 50px;


}

.navbar-conntainer a {
    padding: 11px;
    height: 70px;
    border-left: 2px solid #8A8A8A;
    /* padding: 12px 10px; */

}


.navbar-conntainer a:hover {
    color: rgb(3, 3, 3);
    box-shadow: 0px -10px 0px -1px rgb(0, 0, 0) inset;
    -webkit-box-shadow: 0px -10px 0px -1px rgb(0, 0, 0) inset;
    -moz-box-shadow: 0px -10px 0px -1px rgb(0, 0, 0) inset;
}

.search-container{
    height: 80px;
}

.search-container input[type=text] {
    padding: 10px;
    font-size: 14px;
    width: 200px;
  }
  .search-container button{
    float: left;
    padding: 10px;
    background: white;
    color: black;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .search-container input[type=text]::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 3;
}

  .search-container button:hover{

  background: #0b7dda;
  }

.canvas-container {
    display: grid;
    grid-template-columns: repeat(12, 50px 1fr);
    grid-template-columns: repeat(12 50px 1fr);
    /* padding: 20px; */
    max-height: 600;
    width: 100%;
    background-color: #E3E3E3;

}


canvas {
    grid-column: 2/span 4;
    display: block;
    margin: 0 auto;
    border: 4px solid black;
    cursor: crosshair;

}

.editor-btn {
    width: 60px;
    height: 60px;
}